Package                         Version
------------------------------- ------------
Django                          4.1.2
django-ckeditor                 6.5.1
djangorestframework             3.14.0 